#baby-blue {
  background-color: rgb(225, 236, 240);
}

#aqua-marine {
  background-color: #a9cee8;
}

#banner-bg {
  /* background-color: rgb(1, 17, 30, 1); */
  /* background-color: rgb(32, 44, 54, 1); */
}

textarea {
  resize: none;
}